dice-ml>=0.9,<0.10
econml>=0.14.0
jsonschema
erroranalysis>=0.4.1
interpret-community>=0.28.0
lightgbm>=2.0.11
numpy>=1.17.2,<1.24.0
numba<0.54.0
pandas>=0.25.1
scikit-learn>=0.22.1,<1.1 # See PR 1429 about upper bound
scipy>=1.4.1
semver~=2.13.0

# Pinned dependencies
networkx<=2.5
ipykernel<=6.6.0
markupsafe<2.1.0
raiutils>=0.4.0
