# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/raiwidgets/raiwidgets/widget

#debug file
webpack.json
rollup.json

# dependencies
**/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Python
**.pyc
**/__pycache__/*
**/.pytest_cache/*
**/build/*
**-checkpoint.ipynb
**.egg-info/
**-py3-none-any.whl
**.tar.gz
**.zip
**.output.ipynb
**.processed.ipynb

# test files
apps/*-e2e/debug.log
**/cypress.env.json

# test coverage
/coverage
**/.coverage
**/coverage.xml
**/test-results.xml

# notebook artifacts
/notebooks/*.csv
/notebooks/*.zip

# docs
docs/build/*
*/.mypy_cache/*

notebooks/responsibleaitoolbox-dashboard/*.py
