# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/raiwidgets/raiwidgets/widget

# dependencies
**/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Python
**.pyc
**/__pycache__/*
**-checkpoint.ipynb
**.egg-info/

# test files
apps/*-e2e/debug.log

# notebook artifacts
/notebooks/*.csv
/notebooks/*.zip
