# Add files here to ignore them from prettier formatting

/dist
/coverage
_NOTICE.md
raiwidgets/raiwidgets/templates/inlineDashboard.html
raiwidgets/raiwidgets/static
raiwidgets/raiwidgets/error-analysis/widget/static/
