numpy>=1.17.2,<2.0.0
pandas>=0.25.1,<2.0.0 # TODO: remove ceiling on version.
Pillow>=10.0.0; python_version>"3.7" # due to breaking changes in v10.0.0 (https://pillow.readthedocs.io/en/latest/releasenotes/10.0.0.html)
Pillow<10.0.0; python_version<="3.7" # Pillow v10.0.0 is only available starting with Python 3.8
scikit-learn>=0.22.1
scipy>=1.4.1
semver~=2.13.0
responsibleai>=0.35.0
torchmetrics
vision_explanation_methods