# Requirements for development

pytest==7.0.1
pytest-cov
pytest-mock==3.6.1
requests==2.25.1

requirements-parser==0.2.0

wheel

# Required for notebook tests
nbformat
papermill
scrapbook
jupyter
ipython<9
nbval

docutils<0.18
sphinx==3.1.1
sphinx-gallery==0.8.1
pydata-sphinx-theme==0.3.0

tensorflow-intel>=2.15,<2.16; sys_platform == 'win32'
tensorflow>=2.15,<2.16; sys_platform != 'win32'
transformers<4.40
datasets<3
spacy<3.8
opencv-python

fastai<2.8
torch<2.1
torchvision<0.16
mlflow
pydantic<2.0.0
piexif