# Requirements for development

pytest==7.0.1
pytest-cov
pytest-mock==3.6.1
requests==2.25.1

requirements-parser==0.2.0

wheel

# Required for notebook tests
nbformat
papermill
scrapbook
jupyter
nbval
nbconvert<=7.8.0
jupyterlab<=4.0.6
jupyter_core<=5.2.0

docutils<0.18
sphinx==3.1.1
sphinx-gallery==0.8.1
pydata-sphinx-theme==0.3.0

transformers
tokenizers<=0.14.0
huggingface-hub<=0.16.4
datasets
tensorflow<2.11.0
opencv-python

fastai
mlflow>2.0.0; python_version > '3.7'
mlflow>=1.28.0; python_version == '3.7'
pydantic<2.0.0