numpy>=1.17.2
pandas>=0.25.1,<2.0.0
scipy>=1.4.1
scikit-learn>=0.22.1
lightgbm>=2.0.11
raiutils>=0.4.0
Pillow>=10.0.0; python_version>"3.7" # due to breaking changes in v10.0.0 (https://pillow.readthedocs.io/en/latest/releasenotes/10.0.0.html)
Pillow<10.0.0; python_version<="3.7" # Pillow v10.0.0 is only available starting with Python 3.8
