{
  "overrides": [
    {
      "files": ["src/plugins/index.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "no-undef": "off",
        "filenames/no-index": "off"
      }
    },
    {
      "files": ["src/support/index.ts"],
      "rules": {
        "filenames/no-index": "off"
      }
    },
    {
      "files": ["src/support/commands.ts"],
      "rules": {
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/naming-convention": "off"
      }
    }
  ],
  "extends": ["plugin:cypress/recommended", "../../.eslintrc"],
  "ignorePatterns": ["!**/*"]
}
