# Requirements for raiwidgets development

# Required for environment
autopep8
flake8
flake8-blind-except
flake8-builtins
flake8-docstrings
flake8-logging-format
flake8-rst-docstrings
requirements-parser

wheel
