# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CD
env:
  folder_to_upload: dist/apps/dashboard
  blob_account: responsibleai
  blob_container: latest
  blob_path:

on:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install yarn
        run: npm install yarn -g
      - name: CI
        run: yarn ci
      - name: Upload a Build result
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
      - id: publish_url
        run: |
          echo "::set-output name=url::https://${blob_account}.blob.core.windows.net/${blob_container}/${blob_path}/index.html"
      - name: Upload dashboard ${{steps.publish_url.outputs.url}}
        uses: Azure/cli@v1.0.0
        with:
          inlineScript: |
            az storage blob sync -c "${{env.blob_container}}" -s "${{env.folder_to_upload}}" -d "${{env.blob_path}}" --connection-string="${{secrets.AZURE_STORAGE_CONNECTION_STRING}}"

  publish:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
        package: [core-ui, mlchartlib, fairlearn, interpret]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - id: download
        name: Download a Build Artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
      - id: publish
        name: NPM Publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.KE_NPM_TOKEN }}
          package: ${{steps.download.outputs.download-path}}/libs/${{ matrix.package }}/package.json
      - if: steps.publish.type != 'none'
        run: |
          echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"
