# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CD
env:
  folder_to_upload: dist/apps/dashboard
  blob_account: responsibleai
  blob_container: latest
  blob_container_for_raiwidget: raiwidgets
  node-version: 16.x
  widgetDirectory: raiwidgets
  raiDirectory: responsibleai

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  cd-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      #setup environment
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.node-version }}

      - name: Install yarn
        run: npm install yarn -g
      - name: Install
        run: yarn install --frozen-lock-file
      - name: bump version
        run: yarn auto-version
      - name: Get version
        id: version
        run: echo ::set-output name=version::$(cat version.cfg)

      - name: Build Typescript
        run: yarn buildall

      # run tests before publishing to PyPI
      - name: update and upgrade pip, setuptools, wheel, and twine
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel twine
      - name: install requirements.txt for rai
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
        working-directory: ${{ env.raiDirectory }}
      - name: install requirements.txt for widget
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
        working-directory: ${{ env.widgetDirectory }}
      - name: pip freeze
        run: pip freeze
      - name: replace README for raiwidgets
        run: |
          sed -i 's/(.\/img\//(https:\/\/raw.githubusercontent.com\/microsoft\/responsible-ai-widgets\/main\/img\//g' README.md
          cp ./README.md ${{ env.widgetDirectory }}

      - name: build wheel for rai
        run: python setup.py sdist bdist_wheel
        working-directory: ${{ env.widgetDirectory }}

      - name: build wheel for widget
        run: python setup.py sdist bdist_wheel
        working-directory: ${{ env.raiDirectory }}

      # run tests before publishing
      - name: install wheel locally for rai
        run: find ./dist/ -name '*.whl' -exec pip install {} \;
        working-directory: ${{ env.raiDirectory }}

      # run tests before publishing
      - name: install wheel locally for widget
        run: find ./dist/ -name '*.whl' -exec pip install {} \;
        working-directory: ${{ env.widgetDirectory }}

      - name: run tests
        run: pytest

      - name: skip publish for pull request
        if: ${{ github.event_name  == 'pull_request' }}
        run: |
          echo "skip publish for pull request"

      - name: Upload a Build result
        if: ${{ github.event_name  == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

      - id: publish_url
        if: ${{ github.event_name  == 'push' }}
        run: |
          echo "::set-output name=url::https://${blob_account}.blob.core.windows.net/${blob_container}/index.html"
      - name: Upload dashboard ${{steps.publish_url.outputs.url}}
        if: ${{ github.event_name  == 'push' }}
        uses: Azure/cli@v1.0.0
        with:
          azcliversion: 2.16.0
          inlineScript: |
            az storage blob sync -c "${{env.blob_container}}" --account-name "${{env.blob_account}}" -s "${{env.folder_to_upload}}" --connection-string="${{secrets.AZURE_STORAGE_CONNECTION_STRING}}"

      - id: package_url
        if: ${{ github.event_name  == 'push' }}
        run: |
          echo "::set-output name=url::https://${blob_account}.blob.core.windows.net/${blob_container_for_raiwidget}/${{steps.version.outputs.version}}/"

      - name: Upload package ${{steps.package_url.outputs.url}}
        if: ${{ github.event_name  == 'push' }}
        uses: Azure/cli@v1.0.0
        with:
          azcliversion: 2.16.0
          inlineScript: |
            az storage blob sync -c "${{env.blob_container_for_raiwidget}}" --account-name "${{env.blob_account}}" -s "${{ env.raiDirectory }}/dist/" -d "${{steps.version.outputs.version}}/${{ env.raiDirectory }}" --connection-string="${{secrets.AZURE_STORAGE_CONNECTION_STRING}}"

      - name: Upload package ${{steps.package_url.outputs.url}}
        if: ${{ github.event_name  == 'push' }}
        uses: Azure/cli@v1.0.0
        with:
          azcliversion: 2.16.0
          inlineScript: |
            az storage blob sync -c "${{env.blob_container_for_raiwidget}}" --account-name "${{env.blob_account}}" -s "${{ env.widgetDirectory }}/dist/" -d "${{steps.version.outputs.version}}/${{ env.widgetDirectory }}" --connection-string="${{secrets.AZURE_STORAGE_CONNECTION_STRING}}"

  cd-typescript-publish:
    if: ${{ github.event_name  == 'push' || github.event_name  == 'workflow_dispatch' }}
    needs: cd-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          [
            core-ui,
            mlchartlib,
            dataset-explorer,
            causality,
            counterfactuals,
            fairness,
            interpret,
            localization,
            error-analysis,
            model-assessment,
          ]

    steps:
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.node-version }}
      - id: download
        name: Download a Build Artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - id: publish
        name: NPM Publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ${{steps.download.outputs.download-path}}/libs/${{ matrix.package }}/package.json
          dry-run: false
          access: public
          tag: next
      - if: steps.publish.type != 'none'
        run: |
          echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"
