name: CI e2e notebooks text vision

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - "raiwidgets/**"
      - "responsibleai_vision/**"
      - "responsibleai_text/**"
      - ".github/workflows/CI-e2e-notebooks-vision.yml"
      - "libs/e2e/src/lib/describer/modelAssessment/**"
      - "libs/interpret-vision/**"
      - "libs/interpret-text/**"
      - "notebooks/**"

jobs:
  ui-build:
    env:
      node-version: 16.x

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node-version }}

      - name: Install yarn
        run: npm install yarn -g

      - name: Install yarn dependencies
        run: yarn install --frozen-lock-file

      - name: Build Typescript
        run: yarn buildall

      - name: Upload the build result
        uses: actions/upload-artifact@v4
        with:
          name: raiwidgets-js
          path: raiwidgets/raiwidgets/widget

  ci-e2e-notebook-text-vision:
    needs: ui-build

    env:
      node-version: 16.x

    strategy:
      fail-fast: false
      matrix:
        # TODO: add macos
        operatingSystem: [ubuntu-latest, windows-latest]
        pythonVersion: [3.8, 3.9, "3.10"]
        flights: [""]
        notebookGroup: ["vis_nb_group_1", "text_nb_group_1"]

    runs-on: ${{ matrix.operatingSystem }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node-version }}

      - name: Install yarn
        run: npm install yarn -g

      - name: Install yarn dependencies
        run: yarn install --frozen-lock-file

      - name: Download the UI build result
        uses: actions/download-artifact@v4
        with:
          name: raiwidgets-js
          path: raiwidgets/raiwidgets/widget

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.pythonVersion }}

      - name: Install pytorch
        shell: bash -l {0}
        run: |
          conda install --yes --quiet "pytorch==1.13.1" "torchvision<0.15" cpuonly "numpy<1.24.0" -c pytorch

      - name: Setup tools
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools
          pip install --upgrade "pip-tools<=7.1.0"

      - name: Install backwards-compatible keras for transformers
        shell: bash -l {0}
        run: |
          pip install tf-keras
          pip install keras==2.15

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          pip install captum
          pip install -r requirements-dev.txt
          pip install -v -e .
        working-directory: raiwidgets

      - if: ${{ matrix.notebookGroup == 'vis_nb_group_1'}}
        name: Install vision dependencies
        shell: bash -l {0}
        run: |
          pip install -r requirements-dev.txt
          pip install .
        working-directory: responsibleai_vision

      - if: ${{ matrix.notebookGroup == 'text_nb_group_1'}}
        name: Install text dependencies
        shell: bash -l {0}
        run: |
          pip install -r requirements-dev.txt
          pip install .
        working-directory: responsibleai_text

      - if: ${{ matrix.notebookGroup == 'text_nb_group_1'}}
        name: Setup spacy
        shell: bash -l {0}
        run: |
          python -m spacy download en_core_web_sm

      - name: Pip freeze
        shell: bash -l {0}
        run: |
          pip freeze > installed-requirements-dev.txt
          cat installed-requirements-dev.txt
        working-directory: raiwidgets

      - name: Upload requirements
        uses: actions/upload-artifact@v4
        with:
          name: requirements-dev.txt
          path: raiwidgets/installed-requirements-dev.txt

      # keep list of notebooks in sync with scripts/e2e-widget.js, create new notebook group if necessary
      - if: ${{ matrix.notebookGroup == 'vis_nb_group_1'}}
        name: Run widget tests
        shell: bash -l {0}
        run: |
          yarn e2e-widget -n "responsibleaidashboard-fridge-image-classification-model-debugging" -f ${{ matrix.flights }}
          yarn e2e-widget -n "responsibleaidashboard-fridge-multilabel-image-classification-model-debugging" -f ${{ matrix.flights }}
          yarn e2e-widget -n "responsibleaidashboard-fridge-object-detection-model-debugging" -f ${{ matrix.flights }}

      - if: ${{ matrix.notebookGroup == 'text_nb_group_1'}}
        name: Run widget tests
        shell: bash -l {0}
        run: |
          yarn e2e-widget -n "responsibleaidashboard-DBPedia-text-classification-model-debugging" -f ${{ matrix.flights }}
          yarn e2e-widget -n "responsibleaidashboard-blbooksgenre-binary-text-classification-model-debugging" -f ${{ matrix.flights }}
          yarn e2e-widget -n "responsibleaidashboard-covid-event-multilabel-text-classification-model-debugging" -f ${{ matrix.flights }}

      - name: Upload e2e test screen shot
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: raiwidgets-e2e-screen-shot
          path: ./dist/cypress
