name: CI Notebooks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-notebook:
    strategy:
      matrix:
        operatingSystem: [ubuntu-latest, windows-latest]
        pythonVersion: [3.6, 3.7, 3.8, 3.9]

    runs-on: ${{ matrix.operatingSystem }}

    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.pythonVersion }}

      - name: build typescript
        run: |
          yarn config set network-timeout 300000
          yarn install
          yarn buildall

      - if: ${{ matrix.operatingSystem != 'macos-latest' }}
        name: Install pytorch on non-MacOS
        shell: bash -l {0}
        run: |
          conda install --yes --quiet pytorch torchvision captum cpuonly -c pytorch

      - if: ${{ matrix.operatingSystem == 'macos-latest' }}
        name: Install Anaconda packages on MacOS, which should not include cpuonly according to official docs
        shell: bash -l {0}
        run: |
          conda install --yes --quiet pytorch torchvision captum -c pytorch

      - name: Setup tools
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip~=21.3
          pip install --upgrade setuptools
          pip install --upgrade pip-tools

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          pip install -r requirements-dev.txt
          pip install .
        working-directory: raiwidgets

      - name: Pip freeze
        shell: bash -l {0}
        run: |
          pip freeze > installed-requirements-dev.txt
          cat installed-requirements-dev.txt
        working-directory: raiwidgets

      - name: Upload requirements
        uses: actions/upload-artifact@v2
        with:
          name: requirements-dev.txt
          path: raiwidgets/installed-requirements-dev.txt

      - name: Run notebook tests
        shell: bash -l {0}
        run: python -m pytest notebooks

      - name: Run widget tests
        shell: bash -l {0}
        run: yarn e2e-widget

      - name: Upload notebook test result
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: notebook-test-${{ matrix.operatingSystem }}-${{ matrix.pythonVersion }}
          path: notebooks
        
      - name: Upload e2e test screen shot
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.packageDirectory }}-e2e-screen-shot
          path: dist/cypress
