name: CI Notebooks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-notebook:
    strategy:
      matrix:
        operatingSystem: [ubuntu-latest, windows-latest]
        pythonVersion: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.operatingSystem }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pythonVersion }}

      - name: build typescript
        run: |
          yarn config set network-timeout 300000
          yarn install
          yarn buildall

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools
          pip install interpret-community==0.17.2
          pip install --upgrade fairlearn
          pip install wrapped-flask/.
          cd raiwidgets
          pip install -r requirements-dev.txt
          pip install .

      - name: Run notebook tests
        run: python -m pytest notebooks

      - name: Upload notebook test result
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: notebook-test-${{ matrix.operatingSystem }}-${{ matrix.pythonVersion }}
          path: notebooks
