name: CI Python

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-python:
    strategy:
      matrix:
        packageDirectory:
          ["raiwidgets", "responsibleai", "wrapped-flask", "erroranalysis"]
        operatingSystem: [ubuntu-latest, macos-latest]
        pythonVersion: [3.6, 3.7, 3.8]
        exclude:
          # segfaults in wrapped-flask tests in most OS-Python version combinations
          - packageDirectory: "wrapped-flask"
            operatingSystem: ubuntu-latest
          - packageDirectory: "wrapped-flask"
            operatingSystem: macos-latest
            pythonVersion: 3.7
          - packageDirectory: "wrapped-flask"
            operatingSystem: macos-latest
            pythonVersion: 3.8

    runs-on: ${{ matrix.operatingSystem }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pythonVersion }}

      - if: ${{ matrix.operatingSystem == 'macos-latest' }}
        name: Use Homebrew to install libomp on MacOS for lightgbm
        run: brew install https://publictestdatasets.blob.core.windows.net/data/libomp-11.1.0.catalina.bottle.tar.gz

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ${{ matrix.packageDirectory }}/requirements-dev.txt
          pip install ${{ matrix.packageDirectory }}/

      - name: flake8
        run: flake8

      - name: Run tests
        run: |
          pytest ${{ matrix.packageDirectory }}/tests/
